.flex() {
	display: flex;
}

.layout-item() {}

.float-item() {
	.layout-item();
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.layout-container() {
	.flex();
	position: relative;
	overflow: auto;
}

.row-container {
	.layout-container();
	flex-direction: row;
}

.column-container {
	.layout-container();
	flex-direction: column;
}

.auto-item {
	.layout-item();
	flex: 1 0;
}

.solid-item {
	.layout-item();
	flex: 0 0;
}

.top-item {
	.float-item();
	bottom: auto;
}

.right-item {
	.float-item();
	left: auto;
}

.bottom-item {
	.float-item();
	top: auto;
}

.left-item {
	.float-item();
	right: auto;
}
